body {
    padding: 0 50px;
    font-size: 20px;
}

form p input {
    width: 600px;
    font-size: 20px;
}

form p span {
    display: inline-block;
    width: 110px;
}

form p button {
    font-size: 20px;
    width: 80px;
    height: 34px;
}